/* Self-hosted display face: the latin subset of Playfair Display, a variable font
   covering weights 400-900. The subset is committed to `public/fonts/` and served
   from our own origin, so no third-party CDN is contacted at runtime. Licence:
   SIL Open Font License 1.1, see `public/fonts/OFL.txt`.
   Latin and digits only - CJK is not in the subset, so those glyphs fall through
   to the second entry of `--font-display`, the sans stack. */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("/fonts/playfair-display-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
